// Normalizing styles for different browsers
@import 'normalize';

// Configurable styles
@import 'variables/index';

// SCSS Mixin
@import 'mixin';

// Animation
@import 'animation';

// Button
@import '../components/Button/button.style';

// Menu
@import '../components/Menu/menu.style';

// Icon
@import '../components/Icon/icon.style';
