/* SCSS Partials, which would not be compiled into CSS */

// Line height
$line-height-base:                  1.5 !default;
$line-height-lg:                    2 !default;
$line-height-sm:                    1.25 !default;

// Body
$body-bg:                           $white !default;
$body-color:                        $gray-900 !default;

// Spacing
$spacer:                            1rem !default;

